<div class="top-filter" >
    <div class="col-xs-8">
        <rzslider rz-slider-model="$ctrl.slider.min"
                  rz-slider-high="$ctrl.slider.max"
                  rz-slider-options="$ctrl.slider.options"></rzslider>
    </div>
    <div class="col-xs-4">
        <button style="width: 100%;margin-top: 20px" class="btn btn-primary" ng-click="$ctrl.updateContent()">Search</button>
    </div>
</div>
<div class="container-fluid" style="height: 100%;width: 100%"/>
    <ul>
        <li ng-repeat="page in $ctrl.selectedPages">
        {{"livre: "+$ctrl.isbnToMap+", page:"+$ctrl.pageToMap+"->"+page.page}}
        </li>
    </ul>

    <div style="height: 100%;width: 100%;" >
        <span ng-repeat="page in $ctrl.pagesToShow" style="width: 100%">
            <span afkl-lazy-image="{{$ctrl.IMAGE_URL+'/'+page.url}}" class="afkl-lazy-wrapper col-xs-12 col-md-6 col-lg-3"
                  ng-class="page.class" ng-click="$ctrl.selectPage(page)"/>
        </span>
    </div>
</div>
<div class="footer">
    <button class="btn btn-primary" ng-click="$ctrl.saveMapping()">Save</button>
</div>
