.white {
    color: white;
}

.login-block {
    float: none;
    margin-top: 50px;
    width: 300px;
}

.width-300 {
    width: 300px;
}

.selected-page img{
    border: 5px solid blue;
}

.afkl-lazy-wrapper img{
    height:600px;
    cursor: pointer;
}